<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Session token:</strong>
  <%= @user.session_token %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
