<h1>sign in bruh</h1>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">username</label><br>
  <input type="text" name="user[username]">

  <br>

  <label for="password">password</label><br>
  <input type="password" name="user[password]">

  <button>submit</button>

</form>
