<h1>Start a new sub!</h1>

<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">

  <label for="description">title</label>
  <input type="text" name="sub[title]">

  <br>

  <label for="description">description</label>

  <br>

  <textarea name="sub[description]" rows="8" cols="20" placeholder="Add a description bruh..."></textarea>

  <br>

  <input type="submit" value="Create">
</form>
